<!DOCTYPE HTML>
<html>
 <head>
   {% load plotly_dash%}
   {% load static%}
   {% load bootstrap4%}
   {% bootstrap_css%}
   {% bootstrap_javascript jquery="full"%}
   {% block extra_header%}{% endblock%}
   {% block app_header_css%}
   <link rel="stylesheet" type="text/css" href="{%static "demo/demo.css"%}"></link>
   {% endblock%}
   {% plotly_header%}
   <title>Value Distributions - {% block title%}{% endblock%}</title>
 </head>
 <body>
   <header>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div class="navbar-nav">

         {% block demo_items %}

         {% block demo_menu_items %}
         {% if 0 %}
         <a class="nav-item nav-link btn btn-lg" href="{%url "boxplot1"%}">Boxplot1</a>
         {% endif %}
         {% endblock %}

         {% endblock %}
       </div>
     </nav>
   </header>
   <main>
     {% block main_top%}{% endblock%}
     <div class="container">
       {% block content%}{% endblock%}
     </div>
   </main>
   {% block footer%}
   {% endblock%}
 </body>
 {% block post_body%}{% endblock%}
 {% plotly_footer%}
</html>
