{%extends "base2.html"%}
{%load plotly_dash%}

{%block title%} Modelling Campaign Response {%endblock%}

{%block content%}

<h1>Campaign Response Modelling </h1>

<p>
Distribution of numeric values for customers that made a term deposit and those that did not.
</p>



<p></p>
<div class="card border-dark">
  <div class="card-body">
    <div class="{%plotly_class name="modelling" template_type="div-direct"%}">
      {%plotly_direct name="modelling"%}
    </div>
  </div>
</div>
<p></p>
{%endblock%}
